<h1>make password</h1>

<div>
  <label>şifre uzunluğu</label>
  <input type="text" (change)="modifyLenght($event.target.value)" >
</div>

<div>
  <label>alfebeyi kullan</label>
  <input (change)="modifyLetters()" type="checkbox">
</div>
<div>
  <label>sayılari kullan</label>
  <input (change)="modifyNumbers()" type="checkbox">
</div>
<div>
  <label>sembolleri kullan</label>
  <input (change) = "modifySybols()" type="checkbox">
</div>
<div>
  <button (click)="buttonClick()">şifre oluştur</button>
</div>

<div>
  <label>şifreniz</label>
  <input >
</div>



